@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');
* {
    box-sizing: border-box;
}


#news {
  flex-direction: row;
  font-size:1em;
  width:25%;
  border:1px black solid;
  font-family:"Golos Text";
  background:#FFFF;
  padding:5px;  
}
#buttons {
  display: flex;
  justify-content: center;
  top:50%;
  flex-direction: row;
  gap:2.5vw;
}
button   {
  font-family:"Golos Text";
  font-size:35px;
  border:none;
  height:50px;
  width:150px;
  border-radius: 2px;
  background-color:rgb(14, 128, 176);
  color: white;
}
body {
  display:flex;
  align-items: center;
  flex-direction: column;
  gap:5vh;  
  margin:0;
    background:url(./assets/bg.png);
    animation: marquee 35s infinite linear;
    background-repeat: repeat;
    background-size:100px;
}
@keyframes marquee {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -1190px;
  }
}
@media (max-width: 600px) {
  body {
    flex-direction: column;
    margin:25px;
  }
  #news{
    width:max-content;
    font-size:0.7em;
  }
  #logo {
    height: 50px;
  }
  button {
    height:min-content;
    width:min-content;
  }
}