body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../assets/cmbg\ ver.png);
    background-size: cover;
      background-repeat: none;
      height: 100%;
      width:100%;
        flex-wrap: wrap;
}
a {
        color:white;
    background-color: black;
    width:max-content;
    padding: max(0.375rem, 0.5vw);
    text-decoration: none;
    border-radius: max(0.375rem, 0.5vw); 
  font-size: max(0.375rem, 2vw); 
      box-shadow: 0 3px white;


}
#buttons {
    display: flex;
            flex-wrap: wrap;
            gap:1vw;
            
}
a:active {
          box-shadow: 0 0px white;
          transform: translateY(1px);

}