/* random fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');
body {
    background-size:cover;
}
#logo {
    height:60px;
    margin:15px;
}
#cat {
    position:absolute;
    height:350px;
    top:30%;
    transform:scaleX(-1);
    z-index:0;
}
#pick {
    position:absolute;
    top:23%;
    left:220px;
    animation: swing 1s;
    transform-origin: 0 0;
}
#ore {
    position:absolute;
    height:25vh;
    left:220px;
    top:40vh;
    z-index:-1;
}
#catcoins {
    margin:15px;
    color:white;
    font-family:Archivo;
}
@keyframes swing {
    0% {
      transform: rotate(70deg);
      left:350px;
      top:32%;
    }
    100% {
      transform: rotate(0deg);
    }
  }
#shop {
    border:none;
    box-shadow: 0 3px white;
    border-radius: 5px;
    background:#01579B;
    color:white;
    font-size: large;
    font-family: "Noto Sans";
    position:absolute;
    right:0;
    top:0;
    margin:30px;
    width:100px;
    height:50px;

}
#shop:focus {
    outline:none;
}
#shop:active {
    box-shadow: 0 2px white;
    transform: translateY(4px);

}
#shop:hover {
    background: #0288D1;    
}
#shop_ctr {
    border-radius: 10px;
    position: absolute;
    background:white;  
    height:99vh;
    width:99vw;
    top:0;
    z-index:5;
    background:#FB8C00;
    background-size: 1200px;
    background-position-x: 15px;
    background-position-y: 80px;
    display: none;
    animation-name:rollIn;
    animation-duration: 0.4s;

}
#shop_ctr_ctr {
    display:grid;
    place-items: center;
}
#mrloaf {
    height:500px;
    position: fixed;
    right:0; 
}

#shopsign {
    position: absolute;
    top:0;
    z-index: 6;
    right:0;
    height:125px;
}
#shop-pick {
    position: absolute;
    left:35%;
    top:35%;
    height:150px;
    animation: spin 3s linear infinite;
    display: none;
}
#buy {
    margin: 0 auto;
    border:none;
    font-family:Nunito;
    border-radius:4px;
    position:absolute;
    top:65vh;
    left:32vw;
    width:100px;
    height:40px;
    font-size:20px;
    background:#009688;
    display: none;
}
#pickname {
    top:70vh;
    left:32vw;
    
}
#buy:hover {
    scale: 1.1;
    background:#26A69A;
}
#buy:active {
    scale:0.9;
}
#options {
    position: absolute;
    right:0;
    bottom:3.5vh;
    background-color: #324249;
    width:4vw;
    text-align: center;
    display: none;
}


#loader {
    top:0;
    left:0;
    position: absolute;
    width:100vw;
    height:99vh;
    background:black;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    animation:fade 2s;
}

#spin{ 
animation: spin2 2s;
}
#placectr {
    position: absolute;
    left:30vw;
    font-size: 40px;
    font-family: Archivo;
}
#pickaxe-rack {
    position: absolute;
    margin-left:10vw;
    top: 2.5vh;
    display: flex;
    gap: 5vw;
}
#shelf {
    top:20vh;
    position:absolute;
    margin:10px;
    width:850px;
    height:5vh;
    background:#f5b668;
}
#dialog {
    display: none;
    background:rgba(100, 100, 100, 0.418);
    z-index: 50;
    width:90vw;
    height:20vh;
    position: absolute;
    bottom:50px;
    margin:50px;
    justify-content: center;
    align-items: center;
    color:white;
    font-family: Archivo;
    font-size:x-large;
    border-radius: 25px;
    
}
#person {
    position: absolute;
    top:0;
    left:0;
    padding:5px;
    background-color: rgba(55, 55, 212, 0.674);
}
#right {
    display: block;
    gap:0px;
    margin: 0px;
    position: absolute;
    left:66vw;
    height:17vh;

}
#action {
    position: absolute;
    right:0;
    bottom:0;
    background:black;
    width:4vw;
    text-align: center;
}
#travel {
    border:none;
    box-shadow: 0 3px white;
    border-radius: 5px;
    background:#01579B;
    color:white;
    font-size: large;
    font-family: "Noto Sans";
    position:absolute;
    right:10vw;
    top:0;
    margin:30px;
    width:100px;
    height:50px;
}
#travel:hover {
    background: #0288D1;    
}
#travel:active {
    box-shadow: 0 2px white;
    transform: translateY(4px);   
}
#trvl-menu {
    display: none;
    position: absolute;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    background:#26A69A;
    z-index: 15;
}
#place {
    position:absolute;
    margin:20px;
    font-family: Archivo;
    font-size:xx-large;
    color:white;
}
#minigame {
    position:absolute;
    margin:20px;
    top:50vh;
    width:10vw;
    height:20vh;
    font-size:15px;
    border:none;
    background:#42A5F5;
    border-radius:4px;
}
.mini-img {
    height:10vh;
}
noscript {
    z-index: 16;
    color:white;
    font-size:xx-large;
    font-family:"Comic Sans";
}
#visit {
    display: flexbox;
    position:absolute;
    margin:20px;
    width:12.5vw;
    height:22.5vh;
    font-size:15px;
    border:none;
    right:0;
    top:50vh;
    justify-content: center;
    align-items: center;
    
    
    
}
#place-img {
    height:50vh;
    width:100vw;
    background-repeat: repeat;
}
#exit {
    position:absolute;
    z-index:15;
    top:0;
    right:0;
    border:none;
    background:none;
    color:white;
    font-size:50px;
}
#airport {
    top:0;
    left:0;
    position: absolute;
    z-index: 16;
    height:100%;
    width:100%; 
    
}
#pilot {
    z-index:16;
    position: absolute;
    height:100px;
    top:35vh;
    left:70%;

}

@keyframes spin2 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);

    }
    100% {
        transform: rotate(0deg);

    }
}
@keyframes fade {
    0% {
        opacity: 1;
    }
    100%{
opacity: 0;
display: none;
    }
}
@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }
    50%
    {        transform: rotateY(-360deg);
        
    }
    100% {
        transform: rotateY(0deg);
        
    }
    
}